body {
	background: url("../images/stpatday1.jpg") #09542e;
	/*background-repeat: repeat;*/
    background-size: 100%;
    color: white;
	text-align: center;
}

.quiz-title {
	color: white;
	font-family: 'IBM Plex Serif', serif;
	font-size: 75px;
	font-weight: bold;
	margin-top: 3%;
	margin-bottom: 3%;
}

#rules, #results, #time-remains {
	font-size: xx-large;
	margin-bottom: 5%;
}

h1 {
	font-size: x-large;
	margin-bottom: 1%;
	margin-top: 3%;
}

#quiz-start, #quiz-questions, #quiz-results {
	background: #09542e;
	border: solid 5px white;
	border-radius: 15px;
	padding-bottom: 50px;
	margin: 10%;
}

#start-button, #done-button, #restart-button {
	font-size: xx-large;
	border: solid 2px black;
	border-radius: 10px;
	margin-top: 5%;
	height: 75px;
	width: 250px;
}
